button {
    width: 200px;
    height: 200px;
    font-size: 2rem;
}

.scoreBoard {
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.result {
    text-align: center;
    padding: 20px
}